$red: #D50032;
$orange: #E66B01;
$yellow: #FFC72C;
$pink: #EF4A81;
$purple: #BB16A3;

$blue: #007FA5;
$darkBlue: #2798b6;

$teal: #148570;
$lightTeal: #2CD5C4;

$green: #648000;
$lightGreen: #E1E000;
$navy: #001E62;

$royal: #0D057F;

$charcoal: #363636;
$blackish: #252525;
$gray: #e1e1e1;
$lightgray: #f6f6f6;
$smoke: #f8f8f8;

$gray-text: #58595b;
$gold: #FEBB37;